#toptitle {
	background-color: #00c2af;
	height: 50px;
}

.form-control-1 {
	width: 90%;
	/*margin-left: -10px;*/
	margin-top: 8px;
	color: #fff;
	/*padding: 3px 2px;*/
	height: 34px;
	font-size: 16px;
    line-height: 1.6;
	background-color: #00c2af;
	background-image: none;
	border: 1px solid #00c2af;
	margin-left: -10px;
}
#searchline {
	width:150%;
	height: 34px;
	color:#fff;
	margin:10px 20px 0px -50px;
	border-radius: 4px;
	background-color: #00a695;
	border: 1px solid #00c2af;
}
.col-xs-8{
	display: flex;
	flex-direction: row;
}
.sch {
	position: absolute;
	color:#fff;
    margin-top:20px;
    margin-left: -40px;
}
#innersearch {
	position: absolute;
	margin:20px 0px 0px -15px;
    font-size: 90%;
    color: #00d3c6;
}
.col-xs-1 {
	display: flex;
	flex-direction: column;
}
.user {
	margin:5px 0px 0px -25px;
	color: #fff;
}
#username {
	margin-left: -22px;
	color:#fff;
}
#picname {
	margin-left: -5px;
	color: #666666;
}
#picrow1{
    margin-bottom: 10px;
}
#midcontainer {
	background-color: #f1f0ed;
	margin-top: 20px;
	height: 265px;
	border-top: solid 1px #e0d9cf;
	border-bottom: solid 1px #e0d9cf;
}
#middetail {
	background-color: #fff;
	margin-top: 10px;
	border-top: solid 1px #e0d9cf;
	border-bottom: solid 1px #e0d9cf;
}
#ui-col-4 {
	border-right: solid 1px #e0d9cf;
	margin: 10px 0px 10px 0px;
}
#ui-col-4-1 {
	border-right: solid 1px #e0d9cf;
}
#ui-col-8 {
	border-bottom: solid 1px #e0d9cf;
}
.picbox1 {
	/*margin-bottom: 5px;*/
	margin-left: 10px;
}
.picbox2 {
	margin:5px 0px 5px 65px;
}
.picbox3 {
	/*margin-bottom: 5px;*/
	margin-left: 30px;
}
.picbox4 {
	margin:5px 0px 5px 20px;
}
#greentitle {
	color: #00a600;
	font-weight: 700;
	font-size: 110%;
	margin-left: 10px;
}
h6{
	margin-left: 10px;
}
#redtitle {
	margin-top: 15px;
	color: #ff3d00;
	font-weight: 700;
	font-size: 110%;
	margin-left: 5px;
}
#pinktitle {
	margin: 5px 0px 3px 5px;
	color: #ff40a4;
	font-weight: 700;
	font-size: 110%;
	margin-left: 5px;
}
#orangetitle {
	margin: 5px 0px 0px 5px;
	color: #ff8700;
	font-weight: 700;
	font-size: 110%;
	margin-left: 5px;
}
.otspan {
	font-size: 80%;
	margin-left: 5px;	
}
.border-6 {
	
	display: flex;
	flex-direction: row;
}
.border-6-1 {
	border-left: solid 1px #e0d9cf;
	display: flex;
	flex-direction: row;
}
#passX {
	margin:10px 0px 8px 5px;
	font-size: 120%;
	color: black;	
}
.line {
	border-top: solid 1px #e0d9cf;
	margin: 0px 5px 0px 5px;
}
.pic {
	background: url("img/07-pic.png");
	height: 82px;
	width: 90px;
	margin: 10px 0px 10px -15px;
	overflow: hidden;
	position: relative;
}
.img-free {
    position: absolute;
    top: 15%;
    left: -33%;
    width:100px;
    height: 17px;
    transform:rotate(-45deg);
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    background: #00C2AF;
    color: #FBFFFE;
}
.ui-title {
	margin: 10px 0px 0px 5px;
	color: #303030;
	font-weight: 500;
}
.ui-word {
	margin: 0px 0px 20px 5px;
	color: #6a6a6a;
	font-weight: 500;
	font-size: 90%;
}
#ui-price {
	margin-left: 5px;
	color:#00c2af;
	font-weight: 500;
	font-size: 130%;
	display: flex;
	flex-direction: row;
}
#ui-price:after {
	content: "元";
	font-size: 70%;
	line-height: 27px;
	font-weight: 200;
}
.discount {
	width: 50px;
	height: 20px;
	border: solid 1px #ff9a00;
	border-radius: 5px;
	color: #ff9a00;
	font-size:80%;
}
.discount-1 {
	width: 80px;
	height: 20px;
	line-height: 27px;
	color: #666666;
	font-size:65%;
}
.ui-span {
	margin-left: 3px;
}
.ui-sell {
	font-size: 70%;
	color:#666666;
	line-height: 25px;
	margin-left: 170px;
}
.ui-botton {
	background-color: #8fc6ea; 
}
.ui-botton-word {
	color: #2abada;
	margin:8px 0px 8px 0px;
	font-size: 110%;
}

/***************分割线*****************/
.bg-blue{
	background: #008def;
}
.ui-top-md-2{
	display: flex;
	flex-direction: row;
}
.ui-departline {
	width: 1px;
	height: 13px;
	background: #00BCE9;
	margin:2px 7px 0px 7px;
}
.ui-login,.ui-register {
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	font-family: "微软雅黑";
}
.ui-firstpage{
	height: 30px;
	width: 50px;
	background: #0069b4;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	margin: 10px 0px 10px 0px;
	font-family: "微软雅黑";
}
.ui-titlestyle {
	height: 30px;
	width: 50px;
	text-align: center;
	line-height: 30px;
	margin: 10px 0px 10px 0px;
	font-family: "微软雅黑";
}
.form-control-2 {
	width: 105%;
	margin-top: 8px;
	color: #fff;
	height: 30px;
	font-size: 14px;
    line-height: 1.6;
	background-color:#337ab7;
	background-image: none;
	border: 1px solid #337ab7;
	font-family: "微软雅黑";
}
.form-control-3 {
	width: 102%;
	margin-top: 8px;
	color: #6e6e6e;
	height: 20px;
	font-size: 11px;
    line-height: 1.6;
	background-color:#f9f9f9;
	background-image: none;
	border: 1px solid #f9f9f9;
}
.ui-passage {
	margin:5px 0px 10px 10px;
}
.ui-textbox {
	width: 145px;
	margin:13px 0px 0px -29px;
	height: 20px;
	border:0px;
}
.searchbox {
	background: #fff;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	margin:13px 0px 0px -13px;

}
.ui-md-5 {
	display: flex;
	flex-direction: row;
}
.ss {
	color: #6e6e6e;
	text-align: center;
}
.ui-main-1-box {
	width: 100%;
	background: #f4f4f4;
}
#text-X {
	text-align: center;
	color: #6e6e6e;
}
.btn {
	width: 100%;
	height: 35px;
}
.btdown-row {
	margin-left: 10px;
	width: 93%;
	border-top:dashed 1px #6e6e6e;
}
#text-num {
	color: #3583cc;
	text-align: center;
}
.ui-md-12-after:after {
	content: " XXXX";
	color: #958f96;
}
.ui-departX {
	font-size: 115%;
	color: black;
	font-weight: 500;
}
.ui-more {
	font-size: 85%;
	text-align: center;
}
.ui-borderline {
	border: solid 1px #f4f4f4;
	display: flex;
	flex-direction: column;
	height: 150px;
}
.h6-1 {
	word-wrap: break-word; 
	word-break:normal;
	text-indent:2em;
	height: 70px;
}
.ui-smallwords-container{
	display: flex;
	flex-direction: row;
}
.smallwords {
	font-size: 70%;
	color: #958f96;
	font-family: "微软雅黑";
}
.spain-ppt {
	width: 30px;
	height: 15px;
	margin-top: 10px;
	background: #ff7a33;
	color: #fff;
	font-size: 50%;
	border-radius: 2px;
	text-align: center;
}
.ui-space {
	margin-top: 10px;
}
.ui-space-2 {
	margin-top: 20px;
}
.ui-borderline-2 {
	border: solid 1px #f4f4f4;
	display: flex;
	flex-direction: column;
}
.ui-borderline-3 {
	border: solid 1px #f4f4f4;
	display: flex;
	flex-direction: row;
}
.ui-borderline-4 {
	border: solid 1px #f4f4f4;
    border-bottom: solid 3px #0091F0;
    margin-bottom: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.ui-startline {
	position: absolute;
    top: 0%;
    left: 70%;
    transform:rotate(45deg);
    width: 50%;
    height: 25px;
    text-align: center;
    color: #F0F9FD;
    font-size: 11px;
    line-height: 25px;
    background: #0091F0;
}
.ui-time {
   font-size: 80%;
   color: #666666;
}
#smallwords-spe {
	margin:5px 0px 10px 15px;
}
.ui-more-1 {
	font-size: 85%;
	text-align: center;
	color: #666666;
	margin:10px 0px 10px 20px;
	padding-right: 10px;
}
.ui-space-3 {
	margin-top: 10px;
	margin-left: -20px;
	font-size: 110%;
	color: black;
}
.ui-space-3:after {
	content: "XXX";
	margin-top: 10px;
	color: #0091F0;
}
.ui-boldX {
	font-size: 110%;
	font-weight: 700;
	color: black;
}