span{
    text-decoration: none;
    z-index: 1；
}
span:hover{
    color: #f7f7f7;
    text-decoration: blink;
}
.all-nav {
	height: 588px;
	width: 405px;
	border: solid 1px #eeeeee;
	border-bottom: solid 1px #eeeeee;
}
.top-nav{
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    list-style: none;
    overflow: hidden;
}
.top-nav li{
    float: left;
    margin-right: 1px;
}
.top-nav li span{
    line-height: 32px;
    text-decoration: none;
    background: #f7f7f7;
    color: #666666;
    display: block;
    width: 80px;
    height: 32px;
    text-align: center;
    position: relative;
    z-index: 0;
}
.top-nav li span:hover{
	font-weight: bold;
    color: gray;
    background: #FFFFFF;
}
.box2-nav {
	height: 70px;
	width: 405px;
	border-bottom: solid 1px #eeeeee;
	display: block;
	background-color: white;
}
.box3-nav {
	height: 150px;
	width: 405px;
	border-bottom: solid 1px #eeeeee;
	display: block;
	background-color: white;
}
.box4-nav {
	height: 40px;
	width: 405px;
	border-bottom: solid 1px #eeeeee;
	display: block;
	background-color: white;
}
.box5-nav {
	height: 300px;
	width: 405px;
	margin:auto;
	text-align: center;
	/*border-bottom: solid 1px lightgray;*/
	display: block;
	float:left;
	background-color: white;
}
.text-nav {
	margin:10px 15px 0px 20px;
	width: 350px;
}
.text-nav2{
	margin: 5px 10px 8px 10px;
	width: 260px;
	display: inline-block;
	float: right;
}
img {
	padding: 0px;
	border: 0;
	max-width: 80px;
	max-height: 80px;
	display: inline;
	float: left;

}
.boxboss0 {	
	margin: 20px 0px 10px 0px;
	width: 80px;
	height: 80px;
	clear:both;
	display: inline-block;
}
.boxboss0-img {
	width: 80px;
	height: 80px;
}
.boxboss1 {	
	margin-left: 25px;
	width: 250px;
	height: 80px;
	clear:both;
	display: inline-block;
}
.boxboss2 {	
	width: 405px;
	height: 30px;
	clear:both;
	display: inline-block;
}
.bbox {
	/*border: solid 1px #9f9f9f;*/
	width: 110px;
	height: 27px;
	/*box-shadow: 0px 0px 3px 1px gray inset;*/
	text-align: center;
	clear:both;
	display: inline-block;
	background:  url("img/bt-bg.png");
}
.bbox-sty{
	color: #fff;
	font-size: small;
	font-weight: 500;
	line-height: 27px;
	font-family: "微软雅黑";
}
.bigbox {
    padding: 0;
    margin:0px;
	width: 162px;
	height: 199px;
    border-bottom: solid 0.7px #eeeeee;
	float: left;
	background: white;
}
.nbox{
	padding: 0;
	border-left: solid 0.5px #eeeeee;
	border-bottom: solid 1px #eeeeee;
	width: 80px;
	height: 99px;
	float: left;
	background: white;
}
.img-nav1 {
	margin:50px 50px 10px 55px;
	width: 55px;
	height: 82.5px;
	text-align: center;
}
.img-nav2 {
	margin:17px 25px 5px 17px;
	width: 47px;
	height: 47px;
}
.bb-sty {
	color:#737373;
	font-size: 14px;
	font-family: "微软雅黑";
}